<div class="about">
  <section>
    <h1>Howdy I'm Rob, freelance developer and writer from SF.</h1>
    <p>I specialize in Front-End development (HTML/CSS/JavaScript) with
      a touch of Node and Ruby sprinkled in. I'm also a writer and
      occasional daily blogger. Though I'm originally from the South,
      these days I live and work in beautiful San Francisco, California.</p>

  <p>
    <a rel="me" href="http://twitter.com/rob_dodson">Twitter</a> |
    <a rel="me" href="http://www.linkedin.com/in/mrdodson">LinkedIn</a> |
    <a rel="me" href="http://github.com/robdodson">Github</a> |
    <a rel="author" href="https://plus.google.com/118271135596408598424">Google+</a> |
    <a rel="me" href="http://vimeo.com/robdodson">Vimeo</a> |
    <a rel="me" href="http://pinboard.in/u:robdodson">Pinboard</a> |
    <a rel="me" href="http://coderwall.com/robdodson">Coderwall</a>
  </p>
  </section>
</div>