// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$indented-lists: true;

// Breakpoints are:
// 480px
// 768px
// 992px

.newsletter {
  width: 100%;
  margin: 50px 0;
  box-shadow: 0 1px 5px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,1);
  background: #FEFEFE;
}

@media only screen and (min-width: 600px) {
  .newsletter {
    width: 75%;
  }
}

.newsletter .stripes {
  width: 100%;
  height: 10px;
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 3px,
    #4799C7 3px,
    #4799C7 23px,
    white 23px,
    white 26px,
    #dd5f5f 26px,
    #dd5f5f 46px
  );
  background-size: 63px 25px;
}

.newsletter .description {
  font-style: italic;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  -webkit-appearance: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.11);
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

// MailChimp Styles

#mc_embed_signup {
  padding: 20px 3% 20px 4%;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #93D4A1;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

#mc_embed_signup .button:hover {
  background-color: #7DB58A;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  min-height:50px;
  padding-bottom: 3%;
}

#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}

#mc_embed_signup .mc-field-group .helper {
  font-style: italic;
  color: #ADB1B5;
}

#mc_embed_signup .clear {
  clear:both;
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
}

.newsletter-split {
  
}

.split-cols {
  overflow: hidden;
}

.split-col {
  width: 50%;
  box-sizing: border-box;
}

.split-col .description {
  font-size: 16px;
  line-height: 1.5em;
}

.split-col-left {
  float: left;
  padding-right: 20px;
  border-right: 1px solid #E0E0E0;
}

.split-col-right {
  float: right;
  padding-left: 20px;
}